DATABASE_URL=mongodb+srv://advicermano_db_desntistira:Qcif7zRMWuFOixA4@cluster0.hxc4mk2.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET="qwewtrwfwtydfgwvwdnssknxslkxmslkmkee76r45"
JWT_EXPIRES_IN=7d
